<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Face Recognition Client</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'css/styles.css')}}"
    />
    <script
      defer
      src="{{ url_for('static', filename = 'js/script.js') }}"
    ></script>
  </head>
  <body>
    <div class="main_div">
      <div>
        <img
          class="title_img"
          src="{{ url_for('static', filename = 'images/eyedentify_title.png') }}"
        />
      </div>
      <div class="parent-flex">
        <div class="input">
          <h3>Webcam Window</h3>
          <video id="video" width="480" height="360" autoplay></video>
          <canvas id="canvas" width="640" height="480"></canvas>
          <p id="result">Recognized: None</p>
        </div>

        <div class="vertical-divider"></div>

        <div class="output">
          <h3>Result</h3>
          <div class="div-result">
            <img
              class="res_img"
              src="{{ url_for('static', filename = 'images/billgates1.jpeg')}}"
            />
            <p class="results">Placeholder Name</p>
            <p class="results">Employee No. : #1234</p>
          </div>
          <div class="loginbtn">
            <button id="loginbtn">Login</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
